.back{
    display: inline-block;
    margin:0.4rem 0 0 0.25rem ;
}
.hall{
    font-size:1.042rem;
    font-weight:400;
    line-height:1.5rem;
    color:rgba(255,145,0,1);
    letter-spacing:0.412rem;
    opacity:1;
    display: inline-block;
    margin: 0.412rem 1.417rem 0.125rem 3.5rem;
}
.hall1{
    font-size:1.042rem;
    font-weight:400;
    line-height:1.5rem;
    color:rgba(255,145,0,1);
    letter-spacing:0.412rem;
    opacity:1;
    display: inline-block;
    margin: 0.412rem 2.3rem 0.125rem 4.0rem;
}
.one{
    font-size: 0.75rem;
    color: #707070;
    display: inline-block;
}
.pull{
    display: inline-block;
    margin-left: 0.25rem;
}
.box{
    width:14.083rem;
    height:6.542rem;
    background:rgba(255,255,255,1);
    box-shadow:0px 0.125rem 0.25rem rgba(0,0,0,0.16);
    opacity:1;
    border-radius:0.417rem;
    margin: 0.833rem 0.75rem 0px 0.792rem;
    .place{
        font-size:0.75rem;
        font-family:PingFang SC;
        font-weight:500;
        line-height:1rem;
        color:rgba(67,67,67,1);
        opacity:1;  
        margin: 0.292rem 8.167rem 0.333rem 0.583rem;   
    }
}
.select{
    width:3.833rem;
    height:2.9583rem;
    background:rgba(255,255,255,1);
    opacity:1;
    margin-left: 10.917rem;
    z-index: 1005;
    position: absolute;
    .floor1{
        font-size: 0.75rem;
        color: #FF8C0F;
        margin: 0.333rem 0px 0px 0.5rem;
    }
    .check{
        display: inline-block;
        margin-left: 0.625rem;
    }
    .floor2{
        font-size: 0.75rem;
        color: #707070;
        margin: 0.333rem 0px 0px 0.5rem;
    }
    .uncheck{
        display: inline-block;
        margin-left: 0.625rem;
    }
}
.unmasklist{
    display: none;
}
.unmaskshow{
    display: none;
}
.masklist{
    position: absolute;
    z-index: 1005;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    opacity: 1;
}
.list{
    background:#FFFFFF;
    width:14.292rem;
    height:20.833rem;
    background:rgba(251,251,251,1);
    opacity:1;
    border-radius:0.417rem;
    overflow-y:auto;
}
.maskshow{
    width: 100%;
    height: 120%;
    background: rgb(7, 7, 7);
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    opacity: 0.6;
}
.picture{
    margin:0.667rem 0.667rem 0px 0.667rem;
}
.window{
    font-size:0.833rem;
    font-weight:400;
    line-height:1.125rem;
    color:rgba(112,112,112,1);
    opacity:1;
    margin: 0.625rem 3.75rem 0.417rem 0.708rem;
    display: inline-block;
}
.price{
    font-size:0.583rem;
    font-family:PingFang SC;
    font-weight:400;
    line-height:0.917rem;
    color:rgba(112,112,112,1);
    opacity:1;
    margin-top:0.833rem;
    display: inline-block;
    margin-right: 0.667rem;
}
.evaluate{
    font-size:0.667rem;
    font-family:PingFang SC;
    font-weight:400;
    line-height:0.917rem;
    color:rgba(112,112,112,1);
    opacity:1;
    margin-left: 0.833rem;
}
.content{
    font-size:0.833rem;
    font-family:PingFang SC;
    font-weight:400;
    line-height:0.917rem;
    color:rgba(112,112,112,1);
    opacity:1;
    margin-top: 0.708rem;
    margin-left: 0.667rem;
}
.bill{
    display: inline-flex;
    .dish{
        font-size:0.667rem;
        font-family:PingFang SC;
        font-weight:400;
        line-height:0.875rem;
        color:rgba(67,67,67,1);
        opacity:1;
        margin: 0px 1.833rem 0px 0.708rem;
        letter-spacing: normal;
    }
    .money{
        font-size:0.625rem;
        font-family:PingFang SC;
        font-weight:400;
        line-height:0.833rem;
        color:rgba(67,67,67,1);
        opacity:1;
        letter-spacing: normal;
    }
}
