.index{
    display: block;
    padding:0.625rem;
}
::before,
::after{
    box-sizing: inherit;
}
.card{
    //width:14.04rem;
    height:3.83rem;
    background:rgba(255,255,255,1);
    box-shadow:0px 3px 6px rgba(0,0,0,0.16);
    opacity:1;
    border-radius:5px;
    display: flex;
    margin-bottom: 0.625rem;
}
.icon{
    margin:0.417rem 1.25rem 0.417rem 0.542rem;
    width:3.208rem ;
    height:3rem;
}
.num{
    position: absolute;
    z-index: 1005;
    text-align: center;
    color: #FFFFFF;
    font-size: 0.542rem;
    padding-left: 0.45rem;
    padding-top:0.25rem
}
.news{
    display: inline-block;
    .name{
        width:3.5rem;
        height:0.583rem;
        font-size:0.583rem;
        color:rgba(0,0,0,1);
        opacity:1;
        margin-top: 0.5rem;
        float: left;

    }
    .owner{
        float: left;
        height:0.583rem;
        font-size:0.583rem;
        color:rgba(0,0,0,1);
        opacity:1;
        margin-top: 0.5rem;
        margin-left: 1.25rem;
    }
    .label{
        float: left;
        margin-left: 0.75rem;
    }
    .introduce{
        width:6.5rem;
        height:0.5rem;
        font-size:0.5rem;
        font-family:SimHei;
        font-weight:400;
        color:rgba(177,177,177,1);
        opacity:1;
        margin-top: 1.67rem;
    }
    .mess{
        font-size:0.583rem;
        font-family:SimHei;
        font-weight:400;
        color:rgba(0,0,0,1);
        margin-top: 0.458rem;
        float: left;
    }
    .position{
        float: left;
        margin-top: 0.458rem;
    }
}
