:root{
    box-sizing: border-box;
    font-size: 0.55rem;
}
*,
::before,
::after{
    box-sizing: inherit;
    // font-size: inherit;
}
.sha_index{
    font-size: 0.58rem;
}
.sha_card-container{
    width:56%;
    margin: 2.93em auto 2.53em auto;
    padding-bottom: 0.86em;
    box-shadow:0px 3px 6px rgba(205,205,205,1);
    .sha_img-container{
        width: 100%;
        height: 5.41rem;
        .sha_pic{
            width:100%;
            height: 100%;
        }
    }
    .sha_info{
        text-align: center;
        line-height: 1.2;
        .sha_shop{
            font-size: 0.66rem;
            margin: 0.5em 0;
            color:rgba(0,0,0,1);
        }
        .sha_locate{
            color:rgba(67,67,67,1);
        }
        .sha_price{
            margin: 0.66em;
            color: rgba(255, 126, 51, 0.86);
        }
        .sha_recomm{
            margin: 0 auto;
            width: fit-content;
            font-size: 0.48rem;
            color:rgba(255,255,255,1);
            background-color: rgba(255, 183, 32, 1);
            padding: 0.2em 0.46em;
        }
    }
}
.sha_icon{
    width:35.7%;
    height: 8.33em;
    margin: 0 auto;
    .sha_src{
        width: 100%;
        height: 100%;
    }
}