:root{
    box-sizing: border-box;
}
*,
::before,
::after{
    box-sizing: inherit;
}
.s_search-bar{
    border-top: 1px solid rgba(240, 166, 43, 1);
    font-size: 0.58rem;
    padding: 0.78em;
    .s_input-container{
        width:85%;
        background-color: rgba(240, 240, 239, 1);
        border:1px solid rgba(222,216,216,1);
        border-radius: 0.24em;
        padding: 0.5em;
        display: inline-flex;
        vertical-align: middle;
        align-items: center;
        .s_icon{
            width:10%;
            height: 4%;
        }
        .s_input{
            width:90%;
        }
    }
    .s_click-back{
        display: inline-block;
        vertical-align: middle;
        color:rgba(255, 126, 51, 1);
        padding-left: 1.14em;
    }
}
.s_input-placeholder{
    color:rgba(142, 142, 146, 1)
}
.s_recent{
    padding: 0.78em;
    // margin-top: 2em;
}
.s_hot{
    padding: 0.78em;
    // margin-top: 2em;
}
.s_title-container{
    font-size: 0.58rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .s_title{
        font-weight: 400;
    }
    .s_clear{
        font-size: 0.5rem;
    }
}
.s_item-container{
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    .s_item{
        background-color: rgba(240, 240, 239, 1);
        font-size: 0.375rem;
        padding:0.3em 1em;
        margin: 0.75em 1em 0 0;
        border-radius:0.3em;
    }
}