.index{
    width:375px;
    height:667px;
}
.fiche{
    width:337px;
    height:63px;
    background:rgba(255,255,255,1);
    box-shadow:0px 3px 6px rgba(0,0,0,0.16);
    opacity:1;
    border-radius:5px;
    border-top: 10px solid #FFDBAD;
    margin: 17px 20px 0px 20px;
    
}
.title{
    font-size:23px;
    font-weight:500;
    line-height:32px;
    color:rgba(67,67,67,1);
    opacity:1;
    text-align: center;
    margin-top: 6px;
    letter-spacing:10px;
}